.CheckOutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  height: 85vh;
  border: 2px solid black;
  background-color: black;
  opacity: .7;
  margin-top: 40px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  overflow-y: scroll;
}

.CheckOutForm_input {
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  width: 50%;
  font-size: 20px;
  padding-left: 5px;
}

.CheckOutForm_visitor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: 'Aclonica';
  font-weight: bold;
  border-color: white; 
}

#delete-visitor {
  cursor: pointer; 
}

.CheckOutForm_visitor-container {
  margin-top: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: 1px solid white;
  padding: 20px;
  width: 90%;
}

/* 
.button {
  color: white;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
}

.button:hover {opacity: 4}

.push {
  margin:0.4em; 
}

#push:hover{
  animation: pulse 0.7s linear 1;
} */