.CheckOutForm {
  height: 100vh;
  background-color: #9EA041;
}

.CheckOutForm_visitor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.CheckOutForm_visitor-container {
  padding: 20px;
}