.Header {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
  text-align: center;
}

#lotus-header {
  height: 80px;
  margin-top: 10px;
}

#text-header {
  color: white;
  margin: 0;
  text-align: center;
}
