.LogInForm {
  height: 85vh;
  display: flex;
  justify-content: center;
}

.pick-relief-center-menu {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#login-form-instructions {
  color: white;
  text-align: center;
  font-size: 30px;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

.Link {
  width: 25%;
}

.Link button {
  height: 75px;
  width: 100%;
  border-radius: 15px;
  background-color: #D5CF91;
  font-size: 25px;
}

#supplies-button-link, #check-in-button-link, 
#check-out-button-link {
  width: 25%;
}

.LogInForm_button-back {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  background-color: #D5CF91;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -101px;
  margin-right: 3px;
  width: auto;
}
  /* display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#LogInForm_button-back #LogInForm_button-back:hover {background-color: #3e8e41} 

#LogInForm_button-back #LogInForm_button-back:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}  */

#supplies-button #supplies-button { 
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

#supplies-button #supplies-button:hover {background-color: #3e8e41} 

#supplies-button #supplies-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} 

#check-in-button #check-in-button { 
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#check-in-button #check-in-button:hover {background-color: #3e8e41} 

#check-in-button #check-in-button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
} 

#check-out-button #check-out-button { 
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#check-out-button #check-out-button:hover {background-color: #3e8e41} 

#check-out-button #check-out-button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
} 