.LogInForm {
  height: 85vh;
  display: flex;
  justify-content: center;
}

.pick-relief-center-menu {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#login-form-instructions {
  color: white;
  text-align: center;
  font-size: 30px;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

.Link {
  width: 25%;
}

.Link button {
  height: 75px;
  width: 100%;
  border-radius: 15px;
  background-color: #D5CF91;
  font-size: 25px;
}

#supplies-button-link, #check-in-button-link, 
#check-out-button-link {
  width: 25%;
}

.LogInForm_button-back {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  background-color: #D5CF91;
  font-size: 16px;
}

