.Item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#check-or-uncheck {
  height: 20px;
  width: 25%;
  margin-left: 15%;
}

#item-name {
  width: 50%;
}

#new-item {
  font-size: 20px;
  padding-left: 5px;
  width: 40%;
  height: 50px;
  border-radius: 5px 0px 0px 5px;
}

#item-name:hover {
  background-color: white;
  color: black;
}

#checkbox-item-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-item-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#submit-new-item {
  background-color: #6C782A;
  width: 10%;
  height: 50px;
  cursor: pointer;
}

#submit-new-item:disabled {
  background-color:#ac9b9b;
}

 #plus-img {
   height: 30px;
 }
