.EmergencyContactForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#emergency-contact-info-header {
  font-size: 30px;
  width: 75%;
}

#field {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#relationship {
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 70%;
  font-size: 20px;
  padding-left: 5px;
}

#relationship-label {
  width: 45%;
  text-align: end;
  font-size: 20px;
}

#make-public-or-private-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

#public-or-private-button-text {
  width: 60%;
  font-size: 15px;
  text-align: center;
}

#make-public-or-private-button {
  width: 200px;
  height: 45px;
  font-size: 20px;
  background-color: #782a30;
  color: white;
  border-radius: 5px;
}

#make-public-or-private-container div {
  display: flex;
  justify-content: center;
  width: 250px;
  position: relative;
}

#make-public-or-private-container img {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 0px;
  top: 12px;
}
