.CheckInForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  height: 80vh;
  border: 2px solid black;
  background-color: black;
  opacity: .7;
  margin-top: 40px;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  overflow-y: scroll;
}

.CheckInForm-successful-checkin {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  align-items: center;
}

.CheckInForm-successful-checkin p {
  color: white;
  text-align: center;
  font-size: 32px;
}

.CheckInForm-successful-checkin_main-menu,
.button_successful-checkin {
  height: 50px;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #782a30;
  color: white;
}

.CheckInForm-successful-checkin_NavLink {
  width: 80%;
}

.CheckInForm-successful-checkin_main-menu {
  width: 100%;
}

.button_successful-checkin {
   width: 80%;
}

hr {
  width: 100%;
  border: 1px solid white;
}

#submit-form-button-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit-form-text {
  width: 60%;
  font-size: 15px;
  text-align: center;
}

#submit-form-button {
  margin-top: 15px;
  width: 50%;
  height: 50px;
  font-size: 30px;
  align-self: center;
  border-radius: 5px;
  background-color: #782a30;
  color: white;
  cursor: pointer;
}

#submit-form-button:disabled {
  background: #ac9b9b;
  color: #782a30;
}