.BasicInfoForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: inline-block;
}

#basic-info-header {
  text-align: center;
  font-size: 30px;
}

#fullname-container,
#age-container,
#phone-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullname, #age, #phone {
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 70%;
  font-size: 20px;
  padding-left: 5px;
}

#fullname-label, #age-label, #phone-label {
width: 45%;
text-align: end;
font-size: 20px;
}

