.NeedsForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-container {
  overflow-y: scroll;
}

#necessities-header, #medications-header {
  font-size: 30px;
  width: 75%;
  margin-bottom: 10px;
}