.SuppliesForm_section h2 {
  text-align: center;
}

.itemsList_section {
  display: flex;
  justify-content: space-between;
  padding: 0px 200px;
  margin-bottom: 10px;
  position: relative;
}

.itemsList_quantity-container {
  display: flex;
  flex-direction: column;
}

.quantity-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemsList_quantity-container button {
  height: 30px;
  width: 30px;
  font-size: 18px;
  font-weight: bold;
}

.itemsList_save-changes {
  height: 50px;
  width: 100px;
  font-size: 12px;
  position: absolute;
  right: 50px;
}

.SuppliesForm-add-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
}

.consumable-check {
  height: 20px;
}

.SuppliesForm_section article {
  overflow: scroll;
}

.SuppliesForm-add-item label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SuppliesForm-add-item label input {
  height: 25px;
  width: 120px;
  font-size: 14px;
}
.SuppliesForm-add-item button {
  height: 30px;
  width: 200px;
  font-size: 14px;
  margin: auto;
}