.Pin_img {
  height: 20px;
  width: 20px;
  transition: all .2s ease-in-out;
}

.pin-hover {
  padding: 10px;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  z-index: 99;  
  width: 200px;
}

.pin-hover p,
.pin-hover h3 {
  color: white;
}
